/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/11/2016, 11:32:53 AM
    Author     : Willy
*/


@import url(https://fonts.googleapis.com/css?family=Ravi+Prakash);

body,html{
 
font-family: 'Ravi Prakash', cursive;
}

h1{
    font: 150% ;
}

p{
    font:150%;
}
.container{
    margin-top: 100px;
}
h4{
     margin-top: 250px;
}
.bot{
    margin-right: 5px;
}